* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: visible;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    background-color: #141c58;
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

header nav a,
i {
    color: white;
    text-decoration: none;
    padding-left: 30px;
    text-align: center;
    opacity: .5;
}

main {
    background: linear-gradient(#141c58, white);
    width: 100%;
    height: 70vh;
}

#produto {
    align-items: center;
    text-align: center;
}

#produto h1 {
    font-size: 125px;
    color: white;
    padding-top: 50px;
}

#produto img {
    width: 900px;
    margin-top: -28px;
    animation: myAnim 10s ease 0s 1 normal forwards;
}

@keyframes myAnim {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.valor {
    width: 100%;
    flex-direction: column;
    background-color: none;
    text-align: center;
}

#preco {
    width: 95px;
    height: 35px;
    border: none;
    border-radius: 30px;
    color: white;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #447cdc;
}

.valor p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    font-size: 19px;
    padding: 25px;
}

.destaques {
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}

.links i {
    color: black;
}

.midia {
    display: flex;
    width: 100%;
}

.midia iframe {
    margin-top: 30px;
    border: none;
    margin-left: 15%;
    border-radius: 30px;

}
.explore {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:black;
    font-size: 38px;
    padding: 200px;
}

.cores img {
    width: 30%;
    height: 30%;
    margin-top: 10%;
    border-radius: 10%;


}
